/* #root {
  margin: 50% 0;
} */
body {
  margin: 0;
}

.carousel {
  margin: 0;
  padding-bottom: 100px;
  padding-top: 100px;
  /* padding: 21px 0px 24px 20px; */
  background: #f8aa21;
}
.swiper-wrapper3 {
  margin: 21px 0px 40px 20px;
}

.slide_img {
  height: 30vw;
  width: 30vw;
  object-fit: cover;
}

.mySwiper3 {
  cursor: grab;
}

.mySwiper3::before,
.mySwiper3::after {
  z-index: 2;
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  translate: -50% 0;
  width: 800vw;
  height: 800vw;
  background: #f8aa21;

  border-radius: 50%;
}

.mySwiper3::before {
  top: -795vw;
}

.mySwiper3::after {
  bottom: -795vw;
}

.event_modal {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  align-items: center;
  background: rgb(231, 227, 227);
}
.swiper-button-prev {
  color: #ffffff !important;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  color: #ffffff !important;
}
.swiper-button-prev:hover {
  color: #000000 !important;
}

.swiper-button-next:hover,
.swiper-rtl .swiper-button-prev:hover {
  color: #000000 !important;
}
.swiper-pagination-bullet {
  background: #ffffff !important;
  width: 12px !important;
  height: 12px !important;
}
.swiper-pagination-bullet-active {
  background: #fff !important;
  width: 12px !important;
  height: 12px !important;
}
.next-close {
  position: absolute;
  /* background: white; */
  height: 40px;
  border-radius: 50%;
  top: 0px;
  right: 0px;
}
.next-close :hover {
  background: #302f2f3d;
  height: 40px;
  
  border-radius: 50%;
}
@media only screen and (max-width: 767px) {
  .swiper-wrapper3 {
    width: 100vw;
    margin: 21px 0px -2px 0;
  }
  .mySwiper3::before,
  .mySwiper3::after {
    z-index: 2;
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    translate: -50% 0;
    width: 800vw;
    height: 805vw;
    background-position: center;
    background: #f8aa21;
    border-radius: 50%;
  }
  .slide_img {
    height: 100vw;
    width: 100vw;
    object-fit: cover;
  }
  .carousel {
    padding-bottom: 100px;
    padding-top: 130px;
    /* padding: 21px 0px 24px 20px; */
    background: #f8aa21;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    position: relative;
    top: 15px;
  }
 
  .event_modal {
    display: flex;
    flex-direction: column;
    height: 40rem;
    padding: 50px;
  }
  .modal {
    width: 100%;
  }
  .event_modal div {
    width: 100%;
    height: 60%;
    padding: 2px;
    margin: 0;
  }
  .event_modal div p {
    font-size: larger;
    line-height: normal;
  }
}
